@import url('https://webfontworld.github.io/NexonMabinogi/MabinogiClassic.css');

body {
    font-family: 'MabinogiClassic';
    background-color: rgb(49, 79, 79);
    -ms-overflow-style: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.GNb {
    background-color: rgb(49, 79, 79);
    opacity: 0.6;
    
}

/* fullpage css */

.Page_Container {
    height: "100vh";
    width: "100%";
    justify-content: center;
    align-items: center;
}

.First_page{

}

/* 카드 이미지 */
.Card {
    background-color: rgb(49, 79, 79);
}

.Card_img {
    box-shadow: 0 0 40px #ffffff;

}

/* 상품 CSS */

.ProductCard {
    width: 100%;
    height: 500px;
}

.Third_Page {}